@import 'tailwindcss';

/* Fonts */
@font-face {
  font-family: 'Parisienne';
  src: url('/src/assets/fonts/Parisienne.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('/src/assets/fonts/Raleway.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('/src/assets/fonts/Bitter.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-hero: Parisienne, serif;
  --font-hero-sub: Raleway, sans-serif;
  --font-heading: Bitter, serif;
  --font-body: Raleway, sans-serif;

  --color-wexham-black: #0d0d0d;
  --color-wexham-white: #f2f2f2;
  --color-wexham-dark: #011526;
  --color-wexham-blue: #395873;
  --color-wexham-light: #a9c6d9;
  --color-wexham-red: #8f2b16;
  --color-wexham-green: #327d36;
}

.loader {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #011526;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader--sm {
  width: 0.75rem;
  height: 0.75rem;
  border-top: 2px solid #011526;
  border-right: 2px solid transparent;
}

.loader--lg {
  width: 3rem;
  height: 3rem;
  border-top: 4px solid #011526;
  border-right: 4px solid transparent;
}

.loader--xl {
  width: 7rem;
  height: 7rem;
  border-top: 5px solid #011526;
  border-right: 5px solid transparent;
}
